body {
  background-color: rgb(220, 220, 220);
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  color: #441ABD;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #441ABD;
}

a:hover {

}

#img-circle {
  width: 200px;
  border-radius: 50%;
}
.list-inline li {
  display: inline-block;
  margin: 5px;
  font-size: 40px;
}

/*.list-inline li i {
  display: inline-block;
  margin: 5px;
  font-size: 40px;
}*/

.card-white {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 2p rgba(0,0,0,1);
  width: 500px;
  margin: 20px auto;
  padding: 20px 40px;
}

.container {
  text-align: center;
}

.btn-blue {
    background-color: #6B72E1;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}
